---
layout: bootcamp
root: .
venue: Engineer Research Development Center
address: 3909 Halls Ferry Road
humandate: August 27-29, 2013
humantime: 9:00 AM - 5:00 PM
startdate: 2013-08-27
enddate: 2013-08-29
latlng: 32.301199,-90.871617
registration: restricted
instructor: ["Andy Terrel", "Aron Ahmadia"]
contact: info@software-carpentry.org
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>

<hr/>
